<header>
    <nav id="navigation">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/travel">TRAVEL</a></li>
            <li><a href="/rooms">ROOMS</a></li>
            <li><a href="/meals">MEALS</a></li>
            <li><a href="/news">NEWS</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
</header> 