<div class="container">
    <div id="contents">
        <div class="error-page">
            <h1>{{message}}</h1>
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>
            <a href="/" class="back-home">Back to Home</a>
        </div>
    </div>
</div> 